@import url('styles/fonts.css');
@import url('styles/colors.css');


* {
    padding: 0;
    margin: 0;
    border-style: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

nav {
    position: fixed; /* Fixe la barre, elle ne fait plus partie du flux */
    top: 0;
    left: 40%;
    width: 60%;
    height: 60px; /* Hauteur de la navbar */
    display: flex;
    flex-direction: column;
    z-index: 1000; /* S'assure que la navbar est au-dessus des sections */
}

nav ul {
    display: flex; /* Affiche les éléments de la liste en ligne */
    justify-content: space-around;
    align-items: center;
    padding: var(--padding-small); /* Retire le padding par défaut */
    margin: var(--margin-small); /* Retire les marges */
}

nav li {
    list-style: none; /* Retire les puces */
    margin-right: 20px; /* Ajoute un espace entre les éléments */
}

nav a {
    text-decoration: none; /* Enlève le soulignement des liens */
    color: var(--color-third);
    transition: color 0.3s ease;
}

.main_contenair {
    height: 100vh; /* Pleine hauteur de la fenêtre */
    width: 100vw;  /* Pleine largeur de la fenêtre */
    z-index: -10;
    font-family: var(--font-text);
}

.top_container {
    height: 80%;  /* Prend 80% de la hauteur de .main_contenair */
    width: 100vw;
    background-color: var(--color-background);
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
}

.contenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: var(--color-second);
}

.title {
    font-size: var(--font-size-xxl);
    font-family: var(--font-title);
}

.subtitle {
    font-size: var(--font-size-xl);
    font-weight: normal;
    padding-bottom: var(--padding-medium);
    padding-top: var(--padding-small);
}

.button {
    padding: var(--padding-large);
    background-color: var(--color-third);
    z-index: 0;
    text-decoration: none;
    color: var(--color-first);
    border-radius: 50%;
    font-weight: 900;
    font-size: var(--font-size-lg);
    font-style: italic;
}

.bottom_container {
    height: 20vh;
    width: 100%;
    display: flex; /* Active Flexbox */
    align-items: center; /* Centre verticalement */
    justify-content: center; /* Centre horizontalement */
}

.arrow {
    width: 80px;  /* Augmenté pour une meilleure visibilité */
    height: 80px;
    color: var(--color-background); /* Gère la couleur en CSS */
}

.second_contenair {
    height: 100vh;
    width: 100%;
    background: linear-gradient(135deg, var(--color-background) 90%, white 10%);
    padding-top: var(--padding-large); /* Ajoute du padding en haut */
}

.about_me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: var(--margin-large);
    padding: var(--padding-large);
}

.title_about {
    color: var(--color-second);
    font-size: var(--font-size-lg);
    font-weight: normal;
    padding: var(--padding-small);
}

.content_about {
    color: var(--color-third);
    padding: var(--padding-large);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.third_container {
    background: linear-gradient(135deg, var(--color-background) 55%, white 45%);
    width: 100%;
    height: 100vh;
}

.skills {
    width: 100%;
    max-width: 60%;
    margin: 0 auto;
    padding: var(--padding-medium);
}

.content_skills h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-second);
    font-size: var(--font-size-lg);
    font-weight: normal;
    padding: var(--padding-medium);
    padding-top: 8rem;
}

.skill {
    margin: var(--margin-small) 0;
}

.skill span {
    font-size: var(--font-size-sm);
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: var(--color-third);
}

.bar {
    background-color: var(--color-third);
    border-radius: 10px;
    width: 100%;
    height: 30px;
    position: relative;
}

.progress {
    height: 100%;
    border-radius: 10px;
    width: 0;
    transition: width 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    position: relative;
}

.percentage {
    position: absolute;
    width: 100%;
    text-align: center;
}

/* Couleurs et valeurs de progression */
.html {
    background-color: var(--color-second);
    width: 90%; /* 90% de compétence */
}

.css {
    background-color: var(--color-second);
    width: 80%; /* 80% de compétence */
}

.js {
    background-color: var(--color-second);
    color: black; /* Texte noir pour contraste */
    width: 70%; /* 70% de compétence */
}

.fourth_container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, var(--color-background) 0% 20%, white 20% 100%);
}
