:root {
    --color-background: #E6E6FA;
    
    /*--color-third: rgba(100, 150, 200, 0.2);*/
    --color-title : #2A3D66;
    --color-secondary : #4F6D96;
    --color-accent : #FF7A59;
    --color-glass : rgba(255, 122, 89, 0.1);
    /*backdrop-filter: blur(10px); */
    
}