@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Orbitron:wght@400..900&display=swap');


:root {
    --font-text: 'Roboto', sans-serif;
    --font-title: "Merriweather", serif;

    /* Base font size */
    --font-size-base: 1rem;  /* 16px par défaut */
    
    /* Padding */
    --padding-small: 0.5rem;   
    --padding-medium: 1.5rem;    
    --padding-large: 3rem;     
    
    /* Margin */
    --margin-small: 0.5rem;    
    --margin-medium: 1.5rem;     
    --margin-large: 3rem;      
    
    /* Font sizes using clamp() */
    --font-size-xs: 0.5rem;   
    --font-size-md: 1.5rem;   
    --font-size-lg: 2rem;   
    --font-size-xl: 2.5rem;   
    --font-size-xxl: 3rem;  
    
}
