@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Orbitron:wght@400..900&display=swap');


:root {
    --font-text: 'Roboto', sans-serif;
    --font-title: "Merriweather", serif;

    /* Base font size */
    --font-size-base: 1rem;  /* 16px par défaut */
    
    /* Padding */
    --padding-small: 0.5rem;   
    --padding-medium: 1rem;    
    --padding-large: 2rem;     
    --padding-Xlarge : 3rem;
    /* Margin */
    --margin-small: 0.5rem;    
    --margin-medium: 1rem;     
    --margin-large: 2rem;      
    
    /* Font sizes using clamp() */
    --font-size-xs: clamp(0.9rem, 2vw + 1rem, 1.35rem);   
    --font-size-sm: clamp(1rem, 2vw + 1.25rem, 1.6rem);    
    --font-size-md: clamp(1.2rem, 2vw + 1.5rem, 1.9rem);   
    --font-size-lg: clamp(1.4rem, 2vw + 2.1rem, 2.5rem);   
    --font-size-xl: clamp(1.8rem, 2vw + 2.6rem, 3.2rem);   
    --font-size-xxl: clamp(2.6rem, 2vw + 3.1rem, 4.2rem);  
    
}
